@import '../globalStyling/colors';
@import '../globalStyling/reset';
@import '../globalStyling/variables';
@import '../globalStyling/components';

#header {
  width: 100%;
  height: 7rem;
  @include flex-justify_sb-item_center();
  background: rgba(255, 255, 255, 0.73);
  backdrop-filter: saturate(180%) blur(1.87rem);
  padding: 0 3rem;
  position: absolute;
}

// ---- Logo ----
#logo {
  color: $space-cadet;
  font: {
    size: 2.5rem;
    weight: 600;
  }
}

#logo:hover {
  color: $blue-violet;
  transition: 0.2s;
}

// ---- Header navigation ----
#header-main-nav {
  @include flex-justify_center-items_center();

  #header-nav-list {
    width: 100%;
    @include flex-justify_sb-item_center();

    .header-nav-item {
      margin: 0 2rem;

      a {
        color: $space-cadet;
        padding: 0.5rem 0.75rem;
        border-radius: 10px;
        font: {
          size: 1.6rem;
          weight: 500;
        }
      }

      a:hover {
        background: rgba(255, 255, 255, 0.57);
        padding: 0.5rem 0.75rem;
        border-radius: 10px;
        transition: 0.2s;
      }
    }
  }
}

.icon-nav-item {
  display: flex;
  justify-content: center;

  a {
    width: 3rem;
    height: 3rem;
    @include flex-justify_center-items_center();
    color: $space-cadet;
    padding: 0.5rem;
    margin-left: 2.5rem;
    border-radius: 50%;
    font-size: 1.8rem;
  }

  a:hover {
    background: rgba(255, 255, 255, 0.57);
    padding: 0.5rem;
    margin-left: 2.5rem;
    transition: 0.2s;
  }
}
