$space-cadet: #252258;
$trypan-blue: #4416a7;
$blue-violet: #7038e8;
$medium-purple: #9d77f0;
$lavender-web: #f1ebfd;
$white: #fff;
$medium-turquoise: #51d8d6;
$capri: #22bbfd;
// Font color
$black: #000000;
$oxford-blue: #001429;
$oxford-blue-2: #061a2e;
$oxford-blue-3: #000639;
$space-cadet: #1a2843;
$rhythm: #666b87;
$rhythm-2: #6a6e8b;
$manatee: #959ba6;
$cool-grey: #9193aa;
$cadet-blue-crayola: #a8aabc;
$cadet-blue-crayolaa: rgba(207, 208, 219, 0.424);
$cadet-blue-crayola3: rgba(207, 208, 219, 0.795);


// shadow
$shadow: rgba(0, 0, 0, 0.158);
// @mixin space-cadet-trypan-blue {
//     background-image: linear-gradient(to right, #252258, #29226c, #2f2180, #381e94, #4416a7);
// }
