@import '../globalStyling/colors';
@import '../globalStyling/reset';
@import '../globalStyling/variables';

// ---- Buttons ----
// Search button
.serach-btn {
  background: rgb(37, 34, 88);
  background: linear-gradient(
    90deg,
    rgba(37, 34, 88, 1) 37%,
    rgba(68, 22, 167, 1) 76%
  );
  color: $white;
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 1.5rem;
}

.serach-btn:hover {
  padding: 1rem 2rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  box-shadow: 0 10px 10px -5px $shadow;
  cursor: pointer;
  transition: 0.2s;
}

// ---- Inputs ----
// Search box
.search-box {
  @include flex-items_center();
  background: $white;
  padding: 0.4rem;
  border-radius: 3rem;

  i {
    color: $manatee;
    margin-left: 1.4rem;
    font-size: 1.6rem;
  }

  .search-box__form {
    width: 100%;

    form {
      @include flex-justify_sb-item_center();

      .search-input {
        width: 50%;
        height: 3rem;
        margin-left: 2rem;
        border: 0;
        outline: none;
        font-size: 1.4rem;
        color: $black;
      }
    }
  }
}

// ---- Profile picture ----
// Medium image
.avatar-m {
  width: 6rem;
  @include flex-justify_center-items_center();
}

// Small image
.avatar-s {
  width: 4.5rem;
  @include flex-justify_center-items_center();
}

.image-m {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 50%;
}

// ---- Icons ----
.fas {
  font-size: 1.3rem;
}

// Certificate icon
.fa-certificate {
  color: $capri;
}

.fa-clock {
  color: $medium-turquoise;
}

// Go top button
.go-top-arrow {
  @include flex-justify_center-items_center();
  width: 3rem;
  height: 3rem;

  .fa-arrow-circle-up {
    @include flex-justify_center-items_center();
    padding: 1rem;
    color: $space-cadet;
    font-size: 3rem;
  }

  .fa-arrow-circle-up:hover {
    background: rgba(214, 11, 11, 0.63);
    backdrop-filter: saturate(180%) blur(1.87rem);
  }
}

// ---- Checkbox ----
.checkbox-header {
  margin-left: 1rem;
  font: {
    size: 1.6rem;
    weight: 500;
  }
}

.checkbox-nav {
  margin-top: 1rem;
}

// Checkbox style
.checkbox-item {
  @include flex-justify_start-items_center();
  color: $rhythm;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;

  .checkmark {
    margin-left: 1rem;
    font-size: 1.35rem;
  }

  .checkmark-number {
    font-size: 1.1rem;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.815);
    transition: 0.2s;
  }
}

// hr tag
.hr-tag {
  width: 90%;

  hr {
    width: 100%;
    height: 1.4px;
    background: $cadet-blue-crayolaa;
    border: none;
  }
}
