@mixin flex-justify_sb-item_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-justify_center-items_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-justify_start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flex-items_center {
  display: flex;
  align-items: center;
}
